@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/subset-Ubuntu-Regular.woff2') format('woff2'),
	url('../fonts/subset-Ubuntu-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/subset-Ubuntu-Medium.woff2') format('woff2'),
	url('../fonts/subset-Ubuntu-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/subset-Ubuntu-Bold.woff2') format('woff2'),
	url('../fonts/subset-Ubuntu-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/subset-Ubuntu-Italic.woff2') format('woff2'),
	url('../fonts/subset-Ubuntu-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

