%grid {
	flex-shrink: 1;
	max-width: 100%;
}

@for $i from 1 through 12 {
	.grid-#{$i} {
		@extend %grid;
		width: 100% / 12 * $i;
	}
}

@each $breakpoint, $value in $breakpoints {
	@include res($breakpoint) {
		@for $i from 0 through 12 {
			.grid-#{$i}_#{$breakpoint} {
				width: 100% / 12 * $i;
			}
		}
	}
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: $container_width + 80px;
	position: relative;
	padding-left: 40px;
	padding-right: 40px;
	@include res(l){
		padding-left: 16px;
		padding-right: 16px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$gutter;
	margin-right: -$gutter;

	[class*="grid"] {
		padding-left: $gutter;
		padding-right: $gutter;
	}

	&--center {
		align-items: center;
	}
	&--middle {
		justify-content: center;
	}
}

.row-ng {
	display: flex;
	flex-wrap: wrap;
}

.clearfix {
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

.img-responsive {
	width: 100%;
	height: auto;
}

.s-def{
	padding: 60px 0;
	@include res(s){
		padding: 40px 0;
	}
}

.s-def-bottom{
	padding: 0 0 60px 0;
	@include res(s){
		padding: 0 0 40px 0;
	}
}

.s-def-top{
	padding: 60px 0 0 0;
	@include res(s){
		padding: 40px 0 0 0;
	}
}

.hidden{
	display: none !important;
}