@mixin res($breakpoint) {
	@media #{inspect(map-get($breakpoints, $breakpoint))} {
		@content;
	}
}

/// Иоконка закрытия модальных окон в виде креста.
$full_cross_size: 24px;
$cross_size: 14px;
$cross_weight: 2px;
$cross_color: #FFF;
$cross-color--hover: #FFF;

@mixin cross() {
	position: absolute;
	top: 0;
	right: -$full_cross_size - 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	background-color: transparent;
	border: 2px solid #FFF;
	width: $full_cross_size;
	height: $full_cross_size;
	border-radius: 50%;
	@include res(s) {
		top: 5px;
		right: 5px;
		border-color: #666;
	}

	&:hover {
		background-color: #fd5353;
		border-color: #fd5353;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -$cross_weight/2;
		margin-left: -$cross_size/2;
		width: $cross_size;
		height: $cross_weight;
		background: $cross_color;
		transition: all 0.3s ease;
		border-radius: 0;
		@include res(s){
			background: #666;
		}
	}

	&:hover:before, &:hover:after {
		background-color: $cross-color--hover;
	}

	&:before {
		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(45deg);
	}

	&:focus {
		outline: none;
		&:before, &:after {
			outline: none;
		}
	}

	svg {
		display: none;
	}
}


//fix ro min() max() css functions
@function max($numbers...){
	@return m#{a}x(#{$numbers})
}

@function min($numbers...){
	@return m#{i}n(#{$numbers})
}