.modal {
	display: none;
	width: 500px;
	max-width: 100%;
	will-change: transform, opacity;
	border-radius: 5px;
	overflow: visible !important;
	padding: 40px;
	@include res(s){
		padding: 30px 20px;
	}

	.vertical-form{
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}

.fancybox-slide--current {
	.modal {

	}
}

.fancybox-is-closing {
	.modal {

	}
}

.modal__title{
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	line-height: 1.2;
}

.modal__descr{
	text-align: center;
	margin-bottom: 25px;
}

.modal--thanks{
	.modal__descr{
		margin-bottom: 0;
	}
}

.fancybox-bg {
	background: rgba(#000,0.8);
}

.fancybox-close-small, .fancybox-slide--image .fancybox-close-small, .fancybox-slide--video .fancybox-close-small, .fancybox-slide--iframe .fancybox-close-small,.fancybox-slide--html .fancybox-close-small {
	@include cross();
	opacity: 1;
}

.fancybox-slide--video,.fancybox-slide--html,.fancybox-slide--iframe {
	padding: 24px 40px;
	@include res(s){
		padding: 20px 12px;
	}
}

.fancybox-content{
	overflow: visible !important;
}